.container {
  text-align: center;
}
/* $primary: #79c7c5;
$secondary: #a1e2d9;
$white: #f9fbff;
$dark: #777777; */

input {
  border: 0;
  border: 1px solid #79c7c5;
  height: 40px;
  width: 490px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #79c7c5;
  padding-left: 10px;
  border-radius: 5px;
}

.bot:before {
  border-radius: 100%;
  content: "A";
  background: #f1562c;
  color: #fff;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  width: 11px;
}
.bot {
  background: linear-gradient(45deg, #f19696, #f3b8b8);
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 4px;
  padding-left: 20px;
  max-width: 300px;
  padding-right: 20px;
  margin-left: 5px;
}

.user:after {
  border-radius: 100%;
  content: "U";
  background: #16726d;
  color: #fff;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 8px;
  margin-left: 10px;
  width: 11px;
}
.user {
  background: linear-gradient(45deg, #79c7c5, #3c8684);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: right;
  margin-top: 15px;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: 5px;
}

.chat {
  display: inline-block;
  max-width: 600px;
}
.historyContainer {
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  background: #ceece8;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
